In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

## Main Task: Regression Problem

The target variable is **ARR_DELAY**. We need to be careful which columns to use and which don't. For example, DEP_DELAY is going to be the perfect predictor, but we can't use it because in real-life scenario, we want to predict the delay before the flight takes of --> We can use average delay from earlier days but not the one from the actual flight we predict.  

For example, variables **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY** shouldn't be used directly as predictors as well. However, we can create various transformations from earlier values.

We will be evaluating your models by predicting the ARR_DELAY for all flights **1 week in advance**.

In [4]:
X_predict = pd.read_csv('data/flights_test.csv')

In [5]:
X_predict.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01 00:00:00,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01 00:00:00,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01 00:00:00,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,2020-01-01 00:00:00,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,2020-01-01 00:00:00,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

In [6]:
X_predict.isnull().sum()

fl_date                  0
mkt_unique_carrier       0
branded_code_share       0
mkt_carrier              0
mkt_carrier_fl_num       0
op_unique_carrier        0
tail_num              1499
op_carrier_fl_num        0
origin_airport_id        0
origin                   0
origin_city_name         0
dest_airport_id          0
dest                     0
dest_city_name           0
crs_dep_time             0
crs_arr_time             0
dup                      0
crs_elapsed_time         0
flights                  0
distance                 0
dtype: int64

## Separating the arr_delay which we want to predict

## Test Train Split

## Feature Engineering

### Adding taxi out mean timer per hour as feature

In [9]:

# Convert 'dep_time' to datetime format
X_predict['crs_dep_time'] = pd.to_datetime(X_predict['crs_dep_time'], format='%H%M', errors='coerce')


# Calculate mean taxi time per hour
X_predict['taxi_mean_time'] = X_predict.groupby(X_predict['crs_dep_time'].dt.hour)['taxi_out'].transform('mean')

KeyError: 'Column not found: taxi_out'

In [9]:
X_train.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,taxi_mean_time
137756,2019-04-05,AA,AA_CODESHARE,5398,OH,N593NN,5398,11057,CLT,"Charlotte, NC",...,416,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.810807
12616,2019-09-29,UA,UA,1482,UA,N447UA,1482,13930,ORD,"Chicago, IL",...,723,13.0,0.0,0.0,0.0,79.0,0.0,0.0,0.0,17.023382
119262,2018-09-28,HA,HA,8,HA,N388HA,8,12173,HNL,"Honolulu, HI",...,2762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.655672
7808,2018-09-25,WN,WN,5662,WN,N925WN,5662,11292,DEN,"Denver, CO",...,883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.278131
68778,2018-04-23,WN,WN,5391,WN,N273WN,5391,15304,TPA,"Tampa, FL",...,842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.762362

In [10]:
X_train.isna().sum()

fl_date                  0
mkt_unique_carrier       0
branded_code_share       0
mkt_carrier_fl_num       0
op_unique_carrier        0
tail_num                 0
op_carrier_fl_num        0
origin_airport_id        0
origin                   0
origin_city_name         0
dest_airport_id          0
dest                     0
dest_city_name           0
crs_dep_time             0
dep_time               110
dep_delay                0
taxi_out                 0
wheels_off               0
wheels_on                0
taxi_in                  0
crs_arr_time             0
arr_time                 0
cancelled                0
crs_elapsed_time         0
actual_elapsed_time      0
air_time                 0
flights                  0
distance                 0
carrier_delay            0
weather_delay            0
nas_delay                0
security_delay           0
late_aircraft_delay      0
first_dep_time           0
total_add_gtime          0
longest_add_gtime        0
taxi_mean_time         110
dtype: int64

### Repalcing Nan with mean

In [11]:
# Calculate the overall mean of the 'taxi_out' column
overall_mean_dep_time_x_train = X_train['dep_time'].mean()
overall_mean_dep_time_x_test = X_test['dep_time'].mean()
# Calculate mean taxi time per hour using map function

X_train['dep_time'].replace(np.nan,overall_mean_dep_time_x_train, inplace=True)
X_test['dep_time'].replace(np.nan,overall_mean_dep_time_x_test, inplace=True)

In [12]:
# Calculate the overall mean of the 'taxi_out' column
overall_mean_taxi_out_x_train = X_train['taxi_out'].mean()
overall_mean_taxi_out_x_test = X_test['taxi_out'].mean()
# Calculate mean taxi time per hour using map function

X_train['taxi_mean_time'].replace(np.nan,overall_mean_taxi_out_x_train, inplace=True)
X_test['taxi_mean_time'].replace(np.nan,overall_mean_taxi_out_x_test, inplace=True)

In [13]:
X_train.isna().sum()

fl_date                0
mkt_unique_carrier     0
branded_code_share     0
mkt_carrier_fl_num     0
op_unique_carrier      0
tail_num               0
op_carrier_fl_num      0
origin_airport_id      0
origin                 0
origin_city_name       0
dest_airport_id        0
dest                   0
dest_city_name         0
crs_dep_time           0
dep_time               0
dep_delay              0
taxi_out               0
wheels_off             0
wheels_on              0
taxi_in                0
crs_arr_time           0
arr_time               0
cancelled              0
crs_elapsed_time       0
actual_elapsed_time    0
air_time               0
flights                0
distance               0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
first_dep_time         0
total_add_gtime        0
longest_add_gtime      0
taxi_mean_time         0
dtype: int64

In [14]:
X_train['dep_time'] = pd.to_datetime(X_train['dep_time']).dt.strftime('%H%M')
X_test['dep_time'] = pd.to_datetime(X_test['dep_time']).dt.strftime('%H%M')

### Explornig date time - Extract year , month , day of month, day of week

In [15]:
# Explorinig date time - Extract year , month , day of month, day of week

X_train['fl_date'] = pd.to_datetime(X_train['fl_date'], errors='coerce')
X_train['year'] = X_train['fl_date'].dt.year
X_train['month'] = X_train['fl_date'].dt.month
X_train['day_of_month'] = X_train['fl_date'].dt.day
X_train['day_of_week'] = X_train['fl_date'].dt.dayofweek
X_train['dep_hour'] = X_train['crs_dep_time'] // 100


X_test['fl_date'] = pd.to_datetime(X_test['fl_date'], errors='coerce')
X_test['year'] = X_test['fl_date'].dt.year
X_test['month'] = X_test['fl_date'].dt.month
X_test['day_of_month'] = X_test['fl_date'].dt.day
X_test['day_of_week'] = X_test['fl_date'].dt.dayofweek
X_test['dep_hour'] = X_test['crs_dep_time'] // 100

In [16]:
X_train.isna().sum()

fl_date                0
mkt_unique_carrier     0
branded_code_share     0
mkt_carrier_fl_num     0
op_unique_carrier      0
tail_num               0
op_carrier_fl_num      0
origin_airport_id      0
origin                 0
origin_city_name       0
dest_airport_id        0
dest                   0
dest_city_name         0
crs_dep_time           0
dep_time               0
dep_delay              0
taxi_out               0
wheels_off             0
wheels_on              0
taxi_in                0
crs_arr_time           0
arr_time               0
cancelled              0
crs_elapsed_time       0
actual_elapsed_time    0
air_time               0
flights                0
distance               0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
first_dep_time         0
total_add_gtime        0
longest_add_gtime      0
taxi_mean_time         0
year                   0
month                  0
day_of_month           0
day_of_week            0
dep_hour               0
dtype: int64

In [17]:
# Create a new column for the time of day
X_train['time_of_day'] = ''
X_train.loc[(X_train['dep_hour'] >= 0) & (X_train['dep_hour'] < 6), 'time_of_day'] = 'night'
X_train.loc[(X_train['dep_hour'] >= 6) & (X_train['dep_hour'] < 12), 'time_of_day'] = 'morning'
X_train.loc[(X_train['dep_hour'] >= 12) & (X_train['dep_hour'] < 18), 'time_of_day'] = 'afternoon'
X_train.loc[(X_train['dep_hour'] >= 18) & (X_train['dep_hour'] <= 24), 'time_of_day'] = 'evening'

X_test['time_of_day'] = ''
X_test.loc[(X_test['dep_hour'] >= 0) & (X_test['dep_hour'] < 6), 'time_of_day'] = 'night'
X_test.loc[(X_test['dep_hour'] >= 6) & (X_test['dep_hour'] < 12), 'time_of_day'] = 'morning'
X_test.loc[(X_test['dep_hour'] >= 12) & (X_test['dep_hour'] < 18), 'time_of_day'] = 'afternoon'
X_test.loc[(X_test['dep_hour'] >= 18) & (X_test['dep_hour'] <= 24), 'time_of_day'] = 'evening'

### Calculates the departure traffic for each origin airport per day

In [18]:
X_train['dep_traffic_per_day'] = X_train.groupby(["origin", "fl_date"])["flights"].transform('sum')
X_test['dep_traffic_per_day'] = X_test.groupby(["origin", "fl_date"])["flights"].transform('sum')

In [19]:
X_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,total_add_gtime,longest_add_gtime,taxi_mean_time,year,month,day_of_month,day_of_week,dep_hour,time_of_day,dep_traffic_per_day
48488,2018-02-09,AA,AA,103,AA,N866NN,103,11298,DFW,"Dallas/Fort Worth, TX",...,0.0,0.0,17.563717,2018,2,9,4,11,morning,4
42072,2018-11-14,UA,UA_CODESHARE,6017,YV,N80348,6017,10140,ABQ,"Albuquerque, NM",...,0.0,0.0,16.801774,2018,11,14,2,12,afternoon,1
35120,2018-03-07,AA,AA_CODESHARE,5886,YV,N955LR,5886,13277,MGM,"Montgomery, AL",...,0.0,0.0,15.859143,2018,3,7,2,5,night,1
4627,2019-09-04,DL,DL_CODESHARE,3820,OO,N268SY,3820,12953,LGA,"New York, NY",...,0.0,0.0,17.547739,2019,9,4,2,21,evening,3
38836,2019-04-14,G4,G4,2109,G4,260NV,2109,14025,PBG,"Plattsburgh, NY",...,0.0,0.0,17.539798,2019,4,14,6,10,morning,1

### Creating feature average delay per airline

In [20]:
# Calculate average departure delay per airline
average_delay_per_airline_x_train = X_train.groupby('mkt_unique_carrier')['dep_delay'].mean()
average_delay_per_airline_x_test = X_test.groupby('mkt_unique_carrier')['dep_delay'].mean()

# Map the average delay values to the corresponding airlines
X_train['avg_delay_per_airline'] = X_train['mkt_unique_carrier'].map(average_delay_per_airline_x_train)
X_test['avg_delay_per_airline'] = X_test['mkt_unique_carrier'].map(average_delay_per_airline_x_test)

In [21]:
X_train.head(5)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,longest_add_gtime,taxi_mean_time,year,month,day_of_month,day_of_week,dep_hour,time_of_day,dep_traffic_per_day,avg_delay_per_airline
137756,2019-04-05,AA,AA_CODESHARE,5398,OH,N593NN,5398,11057,CLT,"Charlotte, NC",...,0.0,16.810807,2019,4,5,4,13,afternoon,6,9.929083
12616,2019-09-29,UA,UA,1482,UA,N447UA,1482,13930,ORD,"Chicago, IL",...,0.0,17.023382,2019,9,29,6,9,morning,13,12.683598
119262,2018-09-28,HA,HA,8,HA,N388HA,8,12173,HNL,"Honolulu, HI",...,0.0,16.655672,2018,9,28,4,22,evening,4,0.900568
7808,2018-09-25,WN,WN,5662,WN,N925WN,5662,11292,DEN,"Denver, CO",...,0.0,18.278131,2018,9,25,1,20,evening,8,10.736714
68778,2018-04-23,WN,WN,5391,WN,N273WN,5391,15304,TPA,"Tampa, FL",...,0.0,16.762362,2018,4,23,0,14,afternoon,3,10.736714

### Creating feature - average monthly passengers

In [22]:
# Calling function from data_cleaning 

from data_cleaning import avg_passengers

In [23]:
# loading passengers csv into dataframe
passengers = pd.read_csv('data/passengers.csv')

In [24]:
# Calling function with flights and passengers dataframe

X_train = avg_passengers(X_train,passengers)
X_test = avg_passengers(X_test,passengers)

In [25]:
X_test.head(5)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,taxi_mean_time,year,month,day_of_month,day_of_week,dep_hour,time_of_day,dep_traffic_per_day,avg_delay_per_airline,monthly_avg_passengers
48488,2018-02-09,AA,AA,103,AA,N866NN,103,11298,DFW,"Dallas/Fort Worth, TX",...,17.563717,2018,2,9,4,11,morning,4,10.906822,5490.0
42072,2018-11-14,UA,UA_CODESHARE,6017,YV,N80348,6017,10140,ABQ,"Albuquerque, NM",...,16.801774,2018,11,14,2,12,afternoon,1,13.083106,985.0
35120,2018-03-07,AA,AA_CODESHARE,5886,YV,N955LR,5886,13277,MGM,"Montgomery, AL",...,15.859143,2018,3,7,2,5,night,1,10.906822,1859.0
4627,2019-09-04,DL,DL_CODESHARE,3820,OO,N268SY,3820,12953,LGA,"New York, NY",...,17.547739,2019,9,4,2,21,evening,3,10.182210,1197.0
38836,2019-04-14,G4,G4,2109,G4,260NV,2109,14025,PBG,"Plattsburgh, NY",...,17.539798,2019,4,14,6,10,morning,1,7.945799,1664.0

In [26]:
# Calculate the overall mean of the 'taxi_out' column
overall_mean_monthly_avg_passengers_out_x_train = X_train['monthly_avg_passengers'].mean()
overall_monthly_avg_passengers_out_x_test = X_test['monthly_avg_passengers'].mean()
# Calculate mean taxi time per hour using map function

X_train['monthly_avg_passengers'].replace(np.nan,overall_mean_monthly_avg_passengers_out_x_train, inplace=True)
X_test['monthly_avg_passengers'].replace(np.nan,overall_monthly_avg_passengers_out_x_test, inplace=True)

### Creating feature - average fuel consumption

In [27]:
# loading passengers csv into dataframe
fuel_df = pd.read_csv('data/fuel_comsumption.csv')

In [28]:
# Calling function from data_cleaning 

from data_cleaning import avg_fuel_use

In [29]:
# Calling function with flights and passengers dataframe

X_train = avg_fuel_use(X_train,fuel_df)
X_test = avg_fuel_use(X_test,fuel_df)

In [30]:
X_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,month,day_of_month,day_of_week,dep_hour,time_of_day,dep_traffic_per_day,avg_delay_per_airline,monthly_avg_passengers,avg_monthly_fuel_gallons,avg_monthly_fuel_cost
48488,2018-02-09,AA,AA,103,AA,N866NN,103,11298,DFW,"Dallas/Fort Worth, TX",...,2,9,4,11,morning,4,10.906822,5490.0,244408174.0,405192822.0
42072,2018-11-14,UA,UA_CODESHARE,6017,YV,N80348,6017,10140,ABQ,"Albuquerque, NM",...,11,14,2,12,afternoon,1,13.083106,985.0,258837871.0,452040276.0
35120,2018-03-07,AA,AA_CODESHARE,5886,YV,N955LR,5886,13277,MGM,"Montgomery, AL",...,3,7,2,5,night,1,10.906822,1859.0,282305086.0,472114756.0
4627,2019-09-04,DL,DL_CODESHARE,3820,OO,N268SY,3820,12953,LGA,"New York, NY",...,9,4,2,21,evening,3,10.182210,1197.0,289410337.0,527534728.0
38836,2019-04-14,G4,G4,2109,G4,260NV,2109,14025,PBG,"Plattsburgh, NY",...,4,14,6,10,morning,1,7.945799,1664.0,15126139.0,29573621.0

In [31]:
X_train.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'cancelled', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'taxi_mean_time', 'year', 'month', 'day_of_month',
       'day_of_week', 'dep_hour', 'time_of_day', 'dep_traffic_per_day',
       'avg_delay_per_airline', 'monthly_avg_passengers',
       'avg_monthly_fuel_gallons', 'avg_monthly_fuel_cost'],
      dtype='object')

In [32]:
# Define the list of unnecessary features to drop
unnecessary_features = ['op_unique_carrier','fl_date','dep_delay','branded_code_share', 'tail_num','op_carrier_fl_num','cancelled','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay','total_add_gtime', 'longest_add_gtime','origin_city_name',
                        'dest_city_name','origin_airport_id','dest_airport_id','wheels_off','wheels_on', 'taxi_in', 'arr_time', 'actual_elapsed_time','flights','mkt_carrier_fl_num','air_time','first_dep_time','avg_monthly_fuel_cost','taxi_out']

In [33]:
# Drop the unnecessary features from 
X_train.drop(columns=unnecessary_features, inplace=True)
X_test.drop(columns=unnecessary_features, inplace=True)